@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto+Mono&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 15px;
  background-color: #fcfcfc;
}

/*header nav #212,*/
header {
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #111010, #212, #00A);
  position: fixed;
}

a[href="#main"] {
  display: flex;
  align-items: center;
  text-decoration: none;
}

a[href="#main"] > h2 {
  font-size: 2.5rem;
  color: beige;
  max-width:100%;
}

#logo {
  width: 80px;
  display: inline;
}

.anchors {
  display: inline;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

.nav-list {
  display: inline;
}

.nav-list > a {
  margin: 0 1vw;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: inline;
}

#button {
  display: inline;
  opacity: 0;
  width: 0;
}

label[for="button"] {
  display: inline;
}

@media (max-width: 950px) {
  #logo {
    width: 60px;
    display: inline;
  }

  header {
    justify-content: space-between;
  }

  a[href="#main"] > h2 {
    font-size: 1.7rem;
    color: beige;
    max-width: 100%;
  }

  .nav-list {
    border: 1px solid black;
    background-color: #00A;
    display: block;
  }

  .anchors {
    opacity: 0;
    top: -180px;
    position: relative;
  }

  #button {
    display: block;
    opacity: 1;
    width: 25px;
    height: 25px;
    margin: 148px 10px 0 auto;
  }

  nav {
    right: 0;
    position: absolute;
  }

  #img-div {
    position: none;
    z-index: 1;
  }

  /*The best thing you can do with checkbox?...*/

  #button:checked ~ label + .anchors {
    opacity: 1;
    top: 13px;
    position: relative;
  }
}
/* END Header Nav */

/* Content Style*/
body {
  font-family: Marck Script, cursive;
}

main {
  padding-top: 55px;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
}

#tribute-info {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

#img-caption {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
}

#img-div {
  background-color: #212;
  color: #fbfbfb;
}

#image {
  height: auto;
  width: 100%;
  max-width:100%;
  margin: auto;
  display: block;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  #tribute-info, #img-caption {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  #logo {
    width: 50px;
    display: inline;
  }

  h1 {
    font-size: 1.5rem;
  }

  #tribute-info, #img-caption {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

/*Footer*/
footer {
  background: linear-gradient(90deg, #00A, #212, #111010);
}