@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto+Mono&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 15px;
  background-color: #fcfcfc;
}

/*header nav #212,*/
header {
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #111010, #212, #00A);
  position: fixed;
}

a[href="#main"] {
  display: flex;
  align-items: center;
  text-decoration: none;
}

a[href="#main"] > h2 {
  font-size: 2.5rem;
  color: beige;
  max-width:100%;
}

#logo {
  width: 50px;
  display: inline;
}

.anchors {
  display: inline;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

.nav-list {
  display: inline;
  font-family: Marck Script, cursive;
}

.nav-list > a {
  margin: 0 1vw;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: inline;
}

#button {
  display: inline;
  opacity: 0;
  width: 0;
}

label[for="button"] {
  display: inline;
}

@media (max-width: 950px) {
  header {
    justify-content: space-between;
  }

  a[href="#main"] > h2 {
    font-size: 1.7rem;
    color: beige;
    max-width: 100%;
  }

  .nav-list {
    border: 1px solid black;
    background-color: #00A;
    display: block;
  }

  .anchors {
    opacity: 0;
    top: -160px;
    position: relative;
  }

  #button {
    display: block;
    opacity: 1;
    width: 25px;
    height: 25px;
    margin: 120px 10px 0 auto;
  }

  nav {
    right: 0;
    position: absolute;
  }

  #img-div {
    position: none;
    z-index: 1;
  }

  /*The best thing you can do with checkbox?...*/

  #button:checked ~ label + .anchors {
    opacity: 1;
    top: 12px;
    position: relative;
  }
}
/* END Header Nav */

/* Content Style*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 1.2em;
}

main {
  padding-top: 55px;
}

main > h2 {
  padding-top: 50px;
  margin-left: 10px;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
}

#tribute-info {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: Marck Script, cursive;
}

#img-caption {
  text-align: center;
  font-size: 3.5rem;
  padding: 10px;
  font-family: Marck Script, cursive;
}

#img-div {
  background-color: #212;
  color: #fbfbfb;
  margin-bottom: 15px;
}

#image {
  height: auto;
  width: 100%;
  max-width:100%;
  margin: auto;
  display: block;
}

dt, dd {
  margin: 10px;
}

dd {
  margin-inline-start: 30px;
}

dd:nth-last-child(1) {
  margin-bottom: 25px;
}

.img-section {
  width: 20vw;
  height: 18vw;
}

section {
  display: flex;
  max-width: 2000px;
  margin: 0 15px;
}

section figure {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  margin-left: 15px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  #tribute-info, #img-caption {
    font-size: 1.5rem;
  }

  .img-section {
    width: 40vw;
    height: 30vw;
  }
  
  section figure {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.5rem;
  }

  body, #tribute-info, #img-caption {
    font-size: 1rem;
  }

  main h2 {
    font-size: 1.35rem;
  }

  #logo {
    width: 40px;
    display: inline;
  }

  section figure {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto 0 auto;
  }

  .img-section {
    width: 100%;
    height: 60vw;
  }

  section {
    display: block;
  }
}

/*Footer*/
footer {
  background: linear-gradient(90deg, #00A, #212, #111010);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}